<mat-sidenav-container>
    <mat-sidenav #drawer mode="side" class="sidNav" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        <div ><img
            width="50%"
            class="logo"
            src="/assets/cow-icon.png"/></div>
        <mat-nav-list>
            <mat-list-item [routerLink]="['/']">
                <span matListItemTitle >Home
                    <mat-icon >home</mat-icon>
                </span>
            </mat-list-item>
            <mat-list-item [routerLink]="['/herd']">
                <span matListItemTitle >Herd
                     <mat-icon>groups</mat-icon>
                </span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle >Help
                     <mat-icon>info</mat-icon>
                </span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="min-height: 100vh">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>

<style>
    mat-sidenav {
        background-color: #3f51b5;
        color: white;
    }
    mat-list-item{
        color:white
    }
    mat-list-item span {
        margin-right: 10em;
        color:white
    }
    mat-list-item span mat-icon
    {  
        float:right
    }
    .logo{
       max-width: 9em;
       margin-left: 20%;
    }
</style>